main.fdb_latexmk
main.fls
main.log
main.synctex.gz
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
main.fls
main.log
main.pdf
main.synctex.gz
main.synctex.gz
main.synctex.gz
main.synctex.gz
main.pdf
main.log

main.aux

main.nav

